
.background{
    width: 500px;
    height:500px;
    outline:2px solid black;
    margin-left: 5px; 
    background-color:lightgrey;
    background-image:url('http://picsum.photos/id/1000/300/200');
    background-repeat:repeat-x;
    background-position:center;
    background-size: contain;


}